body {
    margin: 0%;
    line-height: 1.6;
    color: #333;

}
    *,
    *:before,
    *:after
    {box-sizing: border-box;}

h1, h2, h3, h4, h5, h6 {margin: 0;}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    border: 0;
    background-color: #e5e5e5; 
}

  /*Container*/

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
}

 /*Header*/

.header {
    width: 100%;
    /* padding-top: 10px; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
 }

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

 .header-logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: white;
 }

    /* Nav */

.nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;

}
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: white;
    text-decoration: none;
    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    
    background-color: yellow;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opasity .1s linear;
}

.nav__link:hover {
    color: yellow;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: yellow;
}

  /*Intro*/

 .intro {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 1000px;
    background: url("../foto/banner/banner2.jpg") 
    center no-repeat;
    background-size: cover;
    text-align: center;
    z-index: 1;
          
 }

.banner {
    
    content: '';
    display: block;
    position: absolute;
    overflow: hidden;
    width: inherit;
    height: 1000px;
    background: url("../foto/banner/banner1.jpg") 
    no-repeat center;
    opacity: 0.9;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: 1;
    
}

.intro__inner {
    width: 100%;
    max-width: 830px;
    height: 550px;
    text-align: center;
    margin: 200px auto;
   
}
 
.intro__title {
    font-size: 150px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    line-height: 1;   
      
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;
    background-color: white;
    
}

.intro__suptitle {
    margin-bottom: 20px;
    font-family: 'Kaushan Script', cursive;
    font-size: 72px; 
    color: white;
        
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    
    border: 3px solid white;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;  
    
}

.btn:hover {
  background-color: white; 
  color: #333; 
}


/* Slider 
============ */

.container_slider {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

 }

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

.slider__inner {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
    margin-top: -80px;
    position: relative;
}

.slider__item {
    width: 23%;
    font-size: 18px;
    bottom: 0;
    border-top: 3px solid white;
    padding: 20px 0;
    position: relative;
    z-index: 1;
    vertical-align: bottom;
    color: white;
    text-transform: uppercase;
    opacity: .7;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    background-color: #f38181;

}

.slider_num {
    font-size: 24px;
    font-weight: 700;

}

/* section
========== */

.section {
    padding: 40px 0 40px;   

}

.section--devices {
    margin-bottom: 40px;
    padding-bottom: 0;

    background: url(../foto/feauture/feauture.jpg)
    center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;

}

.section-gray {
    background-color: #f8f8f8;
    height: 270px;

}

.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
}

.section_suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
    
}

.section_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;    
}

.section_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color:#f38181;

}

.section_text {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;  
    font-weight: 400;

}

/* About */

.about {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin: 90px auto;
    margin-top: 40px;
    
}

.about_item {
    width: 380px;
    background-color: #95e1d3;
    position: relative;
}

.about_item:hover .about_img {
    transform: translate3d(-10px, -10px, 0);
}

.about_item:hover .about_img img {
    opacity: .1;

}

.about_item:hover .about_text {
    opacity: 1;
}

.about_img {
    background: linear-gradient(to bottom, 
    #f38181, #fce38a);
    
    transition: transform .2s linear;
}

.about_img img {
    transition: opacity .1s linear;
    display: block;
}

.about_text {
    width: 100%;

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-transform: uppercase; 
    text-align: center;
    opacity: 0;
    
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .1s linear;
}

/* 
/* Num_on_fone
=============== */

.statistics {
    background-color: #95e1d3;
    
}

.stat {    
    display: flex;
    
}

.stat_item {
    flex: 1 1 0;
    border-left: 1px solid #b5eae0;
    text-align: center;
    color: white;
    padding: 70px 25px;
}

.stat_item:last-child {
    border-right: 1px solid #b5eae0;
}

 .stat_num {
    margin-bottom: 25px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1em; 

}

.stat_text {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
        
}

/* Options_Service */

.service {
    display: flex;
    margin-top: 60px;
}

.service_item {
    flex: 1 1 0;
    padding-left: 85px;
    padding-right: 35px;
    position: relative;
    
}
 
.service_icon { 
   position: absolute;
   top: 0;
   left: 25px;
   z-index: 1;
    
}

.service_title {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    
    color: #333333;
    
}

.service_text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    
    color:#999999;
   

}

/* Devices  */

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices_item {
    display: block;
    
}

.devices_item--iphone {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;

}





/* service2 
=================== */

.service_2 {
    display: flex;
    width: 1200px;
    margin: 0 auto 100px;
           
}
  
.service_2-item {
    width: 50%;
    
}

/* Accordion */


.accordion_item {
    margin-bottom: 5px;
    border: 1px solid #e5e5e5; 
}

.accordion_item.active
.accordion_content {
    display: block;

}

.accordion_item.active
.accordion_header {
    border-bottom-color: #e5e5e5; 

}

.accordion_item.active
.accordion_header::after {
    transform: translateY(-50%)
    rotate(-45deg);
    margin-top: 5px;
} 

.accordion_header {
    padding: 15px 25px 15px 70px;
    position: relative;
    border-bottom: 1px solid transparent; 
    cursor: pointer;
}

.accordion_header::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 5px;

    border-top: 2px solid #cccccc;
    border-right: 2px solid #cccccc;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%)
    rotate(135deg);

}

.accordion_icon {
    position: absolute;
    top: 50%;
    left: 15px;
    z-index: 1;

    transform: translateY(-50%);
}



.accordion_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
    
}

.accordion_content {
    padding: 15px 20px;
    display: none;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
}

/* Reviews */

.reviews {
    padding: 0 100px;
    position: relative;
}

.reviews_item {
    padding-left: 205px;
    position: relative;
   

}

.reviews_photo {
    border: 2px solid #95e1d3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    padding: 40px;
}

.reviews_text {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;

    color: #999999;
    margin-bottom: 15px;

    width: 800px;
}

.reviews_author {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    color: #333333;
}

.reviews_author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;
    background-color: #f38181;
}

.reviews_btn {
    font-size: 0;
    color: transparent;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews_btn:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 5px;

    border-top: 2px solid #cccccc;
    border-left: 2px solid #cccccc;

    
   
}

.reviews_btn-prev {
    left: 0;
    transform: rotate(-45deg);
}

.reviews_btn-next {
    right: 0;
    transform: rotate(135deg);
}

/* Quote
=========== */

/* .container_3 {
    display: flex;
    height: 180px;
    text-align: left;
    
}

.quote {
    width: 100%;
    vertical-align: top;
    margin: 60px 0;

}

.quote_item {
    width: 100%;
    max-width: 1200px;
    height: 180px;
    vertical-align: top;
    position: relative;
}

.arrow_left {
    float: left;
    margin-top: 50px;
    width: 5%;
    position: absolute;
}

.quote_icons {
    width: 14%;
    margin-left: 80px;
    border: 3px solid #95e1d3;
    
    padding: 45px;
    position: absolute;
 
}

.quote_text {
    width: 70%;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    
    color: #d4d4d4;
    margin-left: 315px;
    opacity: .7;
    float: right;
    vertical-align: top;
    position: absolute;
    line-height: 1.5em;

}

.quote_text.active {
    opacity: 1;
}

.quote_text.active:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color:#f38181;   
    position: absolute;
    top: 150px;
    left: -5px;
    z-index: 1;
    
}

.quote_t {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    color: #333333;
    margin-left: 70px;
    line-height: 1.5em;

}

.quote_right {
    margin-left: 1160px;
    margin-top: 50px;
    width: 5%;
    position: absolute;

} */

/*Our team
==============*/
/* 
.container_team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
    max-width: 1200px;
    margin: 0 auto;
}

.our_team {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.sup_team {
    width: 100%;
    max-width: 300px;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333333;
    margin: 0 auto;
}

.intro_team {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    line-height: 2em;
        
}

.intro_team:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 40px auto;
    background-color:#f38181;

}

.text_team {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px; 
    font-weight: 400;

} */

/*Container Our Team  */

/* 
.container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;

}

.img_team {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
    margin-top: 20px;
    position: relative;
}

.team1_1 {
    width: 380px;
    height: 470px;
    position: relative;
    z-index: 1;
    vertical-align: bottom;
    margin: 40px auto 140px;
}

.team1_2 {
    width: 380px;
    height: 470px;
    position: absolute;
    z-index: 3;
    vertical-align: bottom;
    left: -10px;
    top: -10px;
}

.team1_3 {
    width: 225px;
    height: 60px;
    position: absolute;
    z-index: 10000;
    vertical-align: bottom;
    left: 70px;
    top: 200px;

}

.img_text {
    margin-top: 20px;

}

.team_develope {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    text-align: center;

}

.team_design {
    font-family: 'Roboto', sans-serif;
    font-size: 15px; 
    color: #b9b9b9;
    text-align: center;

} */

/* Logos 
========== */

/* .logos {
    width: 1200px;
    margin: 120px auto;
    background-color: #ffffff;
    
} */

/* Work 
=========== */
/* 
.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
      
}

.container_work {
    width: 100%;
    height: 300px;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

.work_item {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    line-height: 40px;
   
}

.supwork {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333333;
    text-align: center;
    
}

.work_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2em;
        
}

.work_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 40px auto;
    background-color:#f38181;

}

.work_text {
    width: 960px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 30px;
    opacity: 0.7;

} */

/* Works
============ */
/* .container_works {
    width: 100%;
    
    
    margin: 60px auto;
    text-align: center;
}

.works {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 780px;
    min-width: 1920px;
         
}

.works_item {
    width: 25%;
    height: 390px;
    position: relative;
    overflow: hidden;
    align-self: baseline;
}
  
.works_item:hover .works_content {
    opacity: 1;
} 

.works_photo1 {
    position: absolute;
    top: 15%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
    align-self: baseline;
    
}

.works_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: url(../foto/work/work-font.jpg);
    filter: opacity(0.9);
    opacity: 0;
    text-align: center;
    position: absolute;
    z-index: 2;
    transition: opacity .2s linear;
} 


.works_photo2 {
    
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
    align-self: baseline;
}

.works_item2 {
    width: 25%;
    height: 780px;
    position: relative;
    overflow: hidden;
    align-self: flex-start;
}


.works_photo3 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
    height: 100%;

}

.works_item2:hover .works_content2 {
    opacity: 1;
} 

.works_content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    
    background: rgba(245, 174, 132, .9);
    opacity: 0;
    text-align: center;
    position: absolute;
    z-index: 2;
    transition: opacity .2s linear;
    
} 

.works_photo4 {
    position: absolute;
    top: 90%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
        
}

.works_item3 {
    width: 25%;
    height: 390px;
    position: relative;
    overflow: hidden;
    margin-top: -390px;
   
}

.works_photo5 {
    position: absolute;
    top: 50%;
    left: 35%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);

}

.works_item3:hover .works_content {
    opacity: 1;
} 

.works_photo6 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
       
}

.works_item4 {
    width: 25%;
    height: 390px;
    
    position: relative;
    overflow: hidden;
    
    margin-top: -390px;
   
}

.works_photo8 {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -55%, 0);
    align-self: stretch;
    
}

.works_item4:hover .works_content {
    opacity: 1;
} 

.works_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    margin-top: 60px;

}

.works_text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px; 
    color: white;
}  */

/* Testimonial
================ */

/* .testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 200px;
    height: 220px;  
}

.container_testim {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    
}

.testimonial_item {
    width: 100%;
    max-width: 1200px;
    position: relative;
   
}

.arrow_down {
    float: left;
    margin-top: 60px;
    width: 50px;
    position: absolute;
}

.test_img {
    width: 210px;
    height: 210px;
    margin-left: 80px;
    
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    
 
}

.testimonial_img {
    width: auto;
    height: 100%;
    margin: 0 auto;
    transform: translate3d(-15%, 0, 0);
   
}

.testimonial_text {
    width: 70%;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    color: #999999;
    margin-left: 320px;
    float: right;
    vertical-align: top;
    position: absolute;
    line-height: 1.5em;

}

.testimonial_text.active {
    opacity: 1;
}

.testimonial_text.active:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color:#f38181;   
    position: absolute;
    top: 150px;
    left: -5px;
    z-index: 1;
    
}

.testimonial_t {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    color: #333333;
    margin-left: 70px;
    line-height: 1.5em;

}

.arrow_down2 {
    margin-left: 1180px;
    margin-top: 80px;
    width: 60px;
    position: absolute;

}   */

/* What people say 
=================== */
/* 
.wPsay {
    width: 100%;
    min-width: 1920px;
    height: 830px;
    background: url("../foto/whatPeoplesay/wPs_fon.jpg") 
    center no-repeat; 
    
    background-size: cover;
    margin: 10px auto;
}
 
.wPsay_container {
 
    width: 100%;
    padding: 90px 0;
    /* margin: 40px auto 0; */
}*/
/*
.wPsay_item {
    width: 100%;
    min-width: 1200px;
    position: relative;
    text-align: center;
    
    line-height: 40px;
    
} 
 
.sup_wPsay {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333333;
    text-align: center;
    
}

.wPsay_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2em;
        
}

.wPsay_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 20px auto;
    background-color:#f38181;

} */

/* What people say_ grid
======================== */

/*
.container_wPs {
    width: 100%;
    max-width: 1200px;
  
    margin: 0 auto;
}

.wPs_grid {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.wPs_item {
    width: 600px;
    height: 420px;
    margin-left: 40px;
    position: relative;
    text-align: left;
    padding: 0 10px;
    
}

.wPs_icons { 
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%; 
    float: left;
    
}
.wPs_worker {
    width: auto;
    height: 150%;
    
    transform: translate3d(-27%, 0, 0);

}

.wPs {
   
    margin-left: 60px;
    position: absolute;
}

.wPs_title {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #595959;
    margin-left: 80px;
    line-height: 1em;

}

.wPs_text  {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color:#717171;
    margin-left: 80px;
    line-height: 1em;

}

.wPs_text:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin-left: 0;
    margin-top: 20px;
    background-color:#f38181;

}

.wPsay_text  {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color:#cacaca;
    margin-left: 80px;  

}

.wPs_worker2 {
    width: auto;
    height: 250%;
    transform: translate3d(-28%, -37%, 0);
} */