body {
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;

}
    *,
    *:before,
    *:after
    {box-sizing: border-box;}

h1, h2, h3, h4, h5, h6 {margin: 0;}

  /*Container*/
  .container {
    width: 100%;
    max-width: 1200px;
  
    margin: 0 auto;

 }

 /*Header*/

.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
 }

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

 .header-logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
 }

    /*Nav*/
 .nav {
    font-size: 14px;
    text-transform: uppercase;

   }
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: white;
    text-decoration: none;
    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    
    background-color: yellow;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opasity .1s linear;
}

.nav__link:hover {
    color: yellow;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: yellow;
}

  /*Intro*/

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

 }

 .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 1000px;
    background: url("../foto/intro.jpg") 
    center no-repeat;
    
    background-size: cover;
    
 }

.intro__inner {
    width: 100%;
    max-width: 830px;
    height: 550px;
    text-align: center;
    margin: 40px auto;
    
}

.intro__title {
    font-size: 150px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
     
    line-height: 1;   
      
}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;
    background-color: white;
    
}

.intro__suptitle {
    margin-bottom: 20px;
    font-family: 'Kaushan Script', cursive;
    font-size: 72px; 
    color: white;
        
}


.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    
    border: 3px solid white;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;  
    
}

.btn:hover {
  background-color: white; 
  color: #333; 
}




/* Slider 
============ */


.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 40px auto 0;

}

.slider__inner {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
    margin-bottom: 20px;
    position: relative;
}

.slider__item {
    width: 23%;
    font-size: 18px;
    bottom: 0;
    border-top: 3px solid white;
    padding: 40px 0;
    position: relative;
    z-index: 1;
    vertical-align: bottom;
    color: white;
    text-transform: uppercase;
    opacity: .7;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    background-color: #f38181;

}

.slider_num {
    font-size: 24px;
    font-weight: 700;

}


/* Main
========== */

/* Box 
========== */

.box {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.supmainer {
    width: 100%;
    max-width: 300px;
    font-family: 'Kaushan Script', cursive;
    font-size: 15px;
    
      
    margin: 0 auto;
}

.mainer {
    display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
    max-width: 1200px;
   
   margin: 90px auto 90px;
}

.intro_mainer {

    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2em;
        
}
.intro_mainer:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 40px auto;
    background-color:#f38181;

}

.text {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;  
    font-weight: 400;

}

/*Foto*/

.img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
   
}

/* Num_on_fone
=============== */

.container_2 {

    display: flex;
    background-color: #95e1d3;
    height: 270px;
    text-align: center;
    margin: 40px 0;
      
}

.facts {    
    width: 100%;
    vertical-align: top;
    margin-left: 30px;
  

}

.facts_item {
    width: 240px;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

.facts_num {
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    color: white;
    line-height: 0.2em;

}

.facts_text {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: white;
    display: inline;
    
}

.facts_m {
    border-right: 1px solid white;
    height: 100%;

} 

.vl {
    border-left: 1px solid white;
    
    height: 100%;
    padding-right: 40px;
    padding-left: 40px;
    align-content: center;
    margin-top: 0;

}

/* Amazing Services */

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    height: 650px;
}

.box_s {
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    text-align: center;
}

.supservices {
    width: 100%;
    max-width: 300px;
    font-family: 'Kaushan Script', cursive;
    font-size: 15px;
     
    margin: 0 auto;
}

.intro_services {

    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2em;
        
}

.intro_services:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 40px auto;
    background-color:#f38181;

}

/* Options_Service */

.container_service {
    width: 100%;
    max-width: 1200px;
    
    margin: 40px auto;

 }

.service {
    display: flex;
    margin: 20px auto;
}

.service_item {
    width: 33.33333%;
    text-align: left;
    
}

.icons { 
   float: left;
   margin-bottom: 30px;
    
}

.service_title {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    
    color: #333333;
    margin-left: 80px;
}

.service_text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    
    color:#999999;
    margin-left: 80px;  

}

.hr {
    width: 100%;
    border: 1px solid #e5e5e5;
    opacity: .5;
}


/* Feauture
============== */

.feauture {
   width: 100%;
   height: 910px;
   background: url("../foto/feauture.jpg") center
   no-repeat; 
   /* Цвет фона и путь к файлу */
  
    background-size: cover;
    margin-top: 80px;

}

.feauture_dev {

    width: 100%;
    padding-top: 50px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.feauture_item {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 40px auto;
    line-height: 40px;
   
} 

.supfeauture {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
   
}

.feauture_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    
}
   
.feauture_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 40px auto;
    background-color:#f38181;

}

/* Service2 
============ */


.service2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 90px auto 90px;
    height: 1150px;
}

.service2_box {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.supservices2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: black;
}

.service2_title {

    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2em;
        
}

.service2_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 40px auto;
    background-color:#f38181;

}

.service2_text {
    width: 960px;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
   font-weight: 300;
    text-align: center;
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 30px;
    opacity: 0.7;

}

/* service2_table 
=================== */

.service_2 {
    display: table;
    
    width: 100%;
    max-width: 1200px;
    margin: 40px auto;
    margin: 20px 0;
       
}
  
.service_2-item {
    width: 50%;
    height: 380px;
    float: left;

}


.line1 {
    margin-top: 5px;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
    height: 60px;
    
}

.cell_1 {
    margin: 10px 10px;
    float: left;
   
}

.cell_2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
    margin-top: 20px;
    
}

.cell_3 {
    margin: -40px 0;
    float: right;  
       
}

.cell_3-4 {
    margin: -30px -5px;
    float: right;
    padding-right: 10px;

}

.line2 {  
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
   
}

.line2_border {
    padding: 20px;


}

.line2_text {
    border-right: 5px solid #f5f5f5;
    border-radius: 2.5px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300i;
    text-align: left;
    position: relative;
    color: #999999;
    opacity: .7;
    border-collapse: collapse;
    
}

.line2_text.active {
    opacity: 1;  
    
}

.line2_text.active:before {
    content: "";
    display: block;
    width: 5px;
    height: 90px;
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 1;
    background-color: #95e1d3;
    border-radius: 2.5px;
   
}

.line3 {
    margin-top: 5px;
    border: 1px solid #e5e5e5;
    border-spacing: 0 20px;
    border-collapse: separate;
    height: 60px;
        
}

.line4 {
    margin-top: 5px;
    border: 1px solid #e5e5e5;
    border-spacing: 0 20px;
    border-collapse: separate;
    
    height: 60px;
}

.clearfix {
    height: 0px;
    clear: both;
    background-color: #e74c3c

}
/* Quote
=========== */
.container_3 {
    display: flex;
    height: 150px;
    text-align: left;
    

}

.quote {
    width: 100%;
    vertical-align: top;
    margin: 100px 0;

}

.quote_item {
    width: 100%;
    max-width: 1200px;
    height: 150px;

    margin: 0 auto;
    padding: 20px;
    vertical-align: top;
    position: relative;
}

.arrow_left {
    float: left;
    margin-top: 50px;
    width: 5%;
    position: absolute;
}

.quote_icons {
    width: 14%;
    margin-left: 80px;
    border: 3px solid #95e1d3;
    
    padding: 45px;
    position: absolute;

    
}

.quote_text {
    width: 70%;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    
    color: #d4d4d4;
    margin-left: 315px;
    opacity: .7;
    float: right;
    vertical-align: top;
    position: absolute;
    line-height: 1.5em;

}

.quote_text.active {
    opacity: 1;
}

.quote_text.active:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    
    background-color:#f38181;
        
    position: absolute;
    top: 150px;
    left: -5px;
    z-index: 1;
    
}

.quote_t {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    color: #333333;
    margin-left: 70px;
    line-height: 1.5em;

}

.quote_right {
    margin-left: 1180px;
    margin-top: 50px;
    width: 5%;
    position: absolute;

}

/*Our team
==============*/


.container_team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 120px auto 120px;
}

.our_team {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.sup_team {
    width: 100%;
    max-width: 300px;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333333;
    margin: 0 auto;
}

.intro_team {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    line-height: 2em;
        
}

.intro_team:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 40px auto;
    background-color:#f38181;

}

.text_team {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px; 
    font-weight: 400;

}


/*Container Our Team 
====================== */


.container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 90px auto;

}

.img_team {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
    margin-top: 90px;
    position: relative;
}


.team1_1 {
    width: 380px;
    height: 470px;
    position: relative;
    z-index: 1;
    vertical-align: bottom;
}

.team1_2 {
    width: 380px;
    height: 470px;
    position: absolute;
    z-index: 3;
    vertical-align: bottom;
    left: -10px;
    top: -10px;
}

.team1_3 {
    width: 225px;
    height: 60px;
    position: absolute;
    z-index: 10000;
    vertical-align: bottom;
    left: 70px;
    top: 200px;

}


.img_text {
    padding: 30px;

}

.team_develope {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    text-align: center;

}

.team_design {
    font-family: 'Roboto', sans-serif;
    font-size: 15px; 
    color: #b9b9b9;
    text-align: center;

}


/* Logos 
========== */

.logos {
    width: 1200px;
    height: 150px;
    margin: 90px auto;
    background-color: #f8f8f8;


}

/*

*/